<div fxLayout="row" fxLayoutGap="30px" fxLayoutAlign="start center">
    <div fxflex="30px">
        <img src="/assets/images/home.png" title="Individual house" style="width: 20px;" />
        <span>Individual house</span>
    </div>
    <div fxflex="30px">

        <img src="/assets/images/apt.png" title="Apartment complex" style="width: 20px;" />
        <span>Apartment complex</span>
    </div>
    <div fxflex="30px">
        <img src="/assets/images/sto.png" title="Non residential space" style="width: 24px;" />
        <span>Non residential space</span>
    </div>
</div>

<div id="map1"></div>