/* You can add global styles to this file, and also import other style files */
// Available pre-built themes:
// deeppurple-amber.css
// indigo-pink.css
// pink-bluegrey.css
// purple-green.css
// @import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
    margin: 0;
    font-family: sans-serif;
  }

  th.mat-sort-header-sorted {
    color: black;
  }
  .mat-paginator-sticky {
    bottom: 0px;
    position: sticky;
    z-index: 10;
  }
  .mat-header-cell {
    font-size: 12px;
    font-weight: 600;
  }
  .mat-cell, .mat-footer-cell {
    color: rgba(0,0,0,.87);
  }
  .mat-cell, .mat-footer-cell {
    font-size: 13px;
  }
  .mat-table {
    font-family: Roboto,Helvetica Neue,sans-serif; 
}